    body {
       background-color: rgb(241, 240, 240);
       margin: 30px;
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    path.line
    {
        fill: none;
        stroke: #000;
    }
    path.slice{
        stroke-width:2px;
    }
    .button{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        padding: 20px;
    }
    polyline{
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: 120px;
        height: 40px;
        padding: 2px;
        font: 12px sans-serif;
        color: rgb(48, 46, 46);
        background: rgba(96, 171, 233, 0.198);
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
      }
      